{% extends '::base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('/bundles/scssuser/css/Base/index.css') }}" rel="stylesheet" />
    <link href="{{ asset('/bundles/scsspassel/css/passel.css') }}" rel="stylesheet" />    
{% endblock %}

{% block main_content %}

<table class="table table-hover">
    <thead>
        <tr>
            <th>{{ 'name' | title }}</th>
            <th>{{ 'organization' | title }}</th>
            <th>{{ 'council' | title }}</th>
            <th>{{ 'region' | title }}</th>
            <th>{{ 'factions' | title }}</th>
            <th>{{ 'attendees' | title }}</th>
            <th></th>
        </tr>        
    </thead>
    <tbody>
        {% for passel in passels %}
        <tr>
            <td>{{ passel.name }}</td>
            <td>{{ passel.region.organization }}</td>
            <td>{{ passel.region }}</td>
            <td>{{ passel.factionCount }}</td>
            <td>{{ passel.attendeeCount }}</td>
        </tr>
        {% else %}
        <tr>
            <td colspan="6">No passels found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}