{% extends '::base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('/bundles/scssuser/css/Base/form.css') }}" rel="stylesheet" />
    <link href="{{ asset('/bundles/scssuser/css/Base/new.css') }}" rel="stylesheet" />
    <link href="{{ asset('/bundles/scsspassel/css/passel.css') }}" rel="stylesheet" />    
{% endblock %}

{% block main_content %}
    <div id="form-container">
        <fieldset>
            <h2>{{ 'add a passel' | title }}</h2>
            <form action="{{ path( 'passel_new' ) }}" method="post" {{ form_enctype( form ) }}>
            {% block form %}
                <div id="form-errors" class="hidden">
                    {{ form_errors( form ) }}
                </div>
                <div class="row-fluid">
                    <div id="left-pane">
                        <div class="slider">
                            {{ form_row( form.name ) }}
                        </div>
                        <div class="slider">
                            {{ form_row( form.passel_type ) }}
                        </div>
                    </div>
                    <div class="right-pane">
                        <div class="slider">
                            {{ form_rest(form) }}
                        </div>
                    </div>
                    <div class="slider">
                        <button class="btn btn-primary btn-block" name="submit">{{ 'add' | title }}</button>
                    </div>
                </div>
                {% endblock %}
            </form>
        </fieldset>
    </div>    
{% endblock %}