{% extends '::base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('/bundles/scssuser/css/Base/index.css') }}" rel="stylesheet" />
    <link href="{{ asset('/bundles/scsspassel/css/passel_leader.css') }}" rel="stylesheet" />    
{% endblock %}

{% block main_content %}

<table class="table table-hover">
    <thead>
        <tr>
            <th>{{ 'last name' | title }}</th>
            <th>{{ 'first name' | title }}</th>
            <th>{{ 'birthdate' | title }}</th>
            <th>{{ 'passel' | title }}</th>
            <th></th>
        </tr>        
    </thead>
    <tbody>
        {% for passel_leader in passel_leaders %}
        <tr>
            <td>{{ passel_leader.last_name }}</td>
            <td>{{ passel_leader.first_name }}</td>
            <td>{{ passel_leader.dob }}</td>
            <td>{{ passel_leader.passel }}</td>
            <td></td>
        </tr>
        {% else %}
        <tr>
            <td colspan="5">No passel leaders found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}