{% extends '::base.html.twig' %}
{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('/css/organization.css.php') }}" />
  <link rel="stylesheet" href="{{ asset('/css/datatable.css.php') }}" />
{% endblock %}
{% block main_content %}
<div class="box main-content">
  <div class="box-content datagrid">
  {% block faction_datagrid %}
    <h2>{{ faction.name | title }}</h2>
    <table class="data-table" id="faction-table">
    {% block faction_table %}
      <tbody>
        <tr>
          <td>
            {{ faction.memberCount ~ ' members' }}
          </td>
        </tr>
        <tr>
          <td>
          {% if faction.photo %}
            <a href="{{ path('faction_photo_show', { 'photo': faction.photo }) }}"><img class="thumbnail faction-photo" src="{{ asset(faction.photo) }}" /></a>
          {% else %}
            <p>{{ 'no photo found.' }}</p>
          {% endif %}
          </td>
        </tr>
        <tr>
          <td>
          {% if faction.logo %}
            <img class="thumbnail faction-logo" src="{{ asset(faction.logo) }}" /></a>
          {% else %}
            <p>&nbsp;</p>
          {% endif %}
          </td>
        </tr>
      </tbody>
    {% endblock %}
    </table>
  {% endblock %}
  </div>
</div>
{% endblock %}