<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
     Remove this if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="en" />
    <link rel="alternate" type="application/rss+xml" href="/feed/" title="RSS" />
    <title>{% block title %}[SCSS]Summer Camp Scheduling System{% endblock %}</title>
    <meta name="description" content="summer camp scheduling system">
    <meta name="author" content="david durost">
<!--  Mobile viewport optimized: j.mp/bplateviewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    <link rel="apple-touch-icon" href="{{ asset('/apple-touch-icon.png') }}">
<!-- CSS : implied media="all" -->
    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/reset.css') }}" />
    <link rel="stylesheet" href="{{ asset('/css/scss.css.php') }}" />
    <link rel="stylesheet" href="{{ asset('/css/datatable.css.php') }}" />
    <link rel="stylesheet" href="{{ asset('/css/header.css.php') }}" />
    <link rel="stylesheet" href="{{ asset('/css/footer.css.php') }}" />
    {% endblock %}
    <script src="/js/libs/modernizr-1.6.min.js"></script>
  </head>
  <body>
    {#{{ facebook_initialize({'xfbml': true, 'fbAsyncInit': 'onFbInit();'}) }} #}
    <header>
      {% block header %}
      <div class="container">
        <ul id="top-links">
          <li><a href="{{ path('help_specific', { 'subject' : 'dashboard' }) }}">help</a></li>
          <li><a href="{{ path('settings') }}">settings</a></li>
          <li>
          {% if is_granted('ROLE_USER') %}
              <a href="{{ path('fos_user_security_logout') }}">Sign Out</a>
          {% else %}
              <a href="{{ path('fos_user_security_login') }}">sign in</a>
          {% endif %}
          </li>
        </ul>
        <div id="logo"><a href="{{ path('homepage') }}">summercamp<span>schedulingsystem</span></a><sup>BETA</sup></div>
        <menu>
        {% block menu %}
          {% if is_granted('ROLE_USER') %}
            {# {{ knp_menu_render('main') }} #}
          {% else %}
            {{ knp_menu_render('nonauth') }}   
          {% endif %}
        {% endblock %}
        </menu>
      </div>    
      {% endblock %}
    </header>
    <div id="main-content" class="container">
    {% block main_content %}
      
    {% endblock %}
    </div>
    <div id="footer">
    {% block footer %}      
      &copy; 2012 all rights reserved.
    {% endblock %}
    </div>
    {% block javascripts %}
<script>
  function goLogIn(){
      window.location.href = "{{ path('_security_check') }}";
  }

  function onFbInit() {
      if (typeof(FB) != 'undefined' && FB != null ) {
          FB.Event.subscribe('auth.statusChange', function(response) {
              if (response.session || response.authResponse) {
                  setTimeout(goLogIn, 500);
              } else {
                  window.location.href = "{{ path('_security_logout') }}";
              }
          });
      }
  }
</script>
    {% endblock %}
  </body>
</html>