{% extends '::base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('/bundles/scssuser/css/Base/index.css') }}" rel="stylesheet" />
    <link href="{{ asset('/bundles/scsspassel/css/attendee.css') }}" rel="stylesheet" />    
{% endblock %}

{% block main_content %}

<table class="table table-hover">
    <thead>
        <tr>
            <th>{{ 'last name' | title }}</th>
            <th>{{ 'first name' | title }}</th>
            <th>{{ 'birthdate' | title }}</th>
            <th>{{ 'faction' | title }}</th>
            <th>{{ 'passel' | title }}</th>
            <th></th>
        </tr>        
    </thead>
    <tbody>
        {% for attendee in attendees %}
        <tr>
            <td>{{ attendee.last_name }}</td>
            <td>{{ attendee.first_name }}</td>
            <td>{{ attendee.dob }}</td>
            <td>{{ attendee.faction }}</td>
            <td>{{ attendee.passel }}</td>
            <td></td>
        </tr>
        {% else %}
        <tr>
            <td colspan="6">No attendees found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}