<!-- START :: _infobox.php -->
{% block infobox %}
<div class="page-margin-offset sidebar multiple">
  <div class="sidebar">
  {% block sidebar %}
    <div class="custom-ui-stats user-stats module clearfix">
    {% block ui_stats %}
      <a href="{{ path('attendee_by_group', { 'district_slug': app.user.activeEnrollment.facility.region.slug, 'group_slug':    app.user.activeEnrollment.group.slug }) }}" class="attendees first ">
	<span>{{ 'attendees' | title }}</span>
        <span class="attendees count">{{ app.user.activeEnrollment.group.memberCount }}</span>
      </a>
      <a class="messages" href="#">
        <span>{{ 'messages' | title }}</span>
        <span class="messages count">0</span>
      </a>
      <a href="{{ path('subgroup_by_group', { region_slug: app.user.activeEnrollment.group.region.slug, group_slug: app.user.activeEnrollment.group.slug }) }}" class="sub-group count last">
      	<span>{{ 'sub groups' | title }}</span>
        <span class="sub-groups count">{{ app.user.activeEnrollment.group.subGroupCount }}</span>
      </a>
    {% endblock %}
    </div>
  {% endblock %}
  </div>
</div>
<div class="info-box-wrapper">
  <div id="info-box" class="box box-flat-left">
  {% block infobox_content %}
    <div class="avatar">
    {% block infobox_avatar %}
      <a href="{{ path('settings') }}"><img src="{{ asset(app.user.avatar) }}" height="{{ g_avatar.height }}" width="{{ g_avatar.width }}" alt="{{ app.user.fullName }}"  /></a>
    {% endblock %}
    </div>
    <h2>
    {% block infobox_welcome %}
      <a href="{{ path('profile') }}">{{ 'welcome' ~ app.user.fullName | title }}</a>
    {% endblock %}
    </h2>
    <hr />
    <h3>
    {% infobox_pathbar %}
      <span class="pathbar-menu closed" id="facility-dropdown">
        {{ 'facility: ' ~ app.user.activeEnrollment.facility.name | title }}
      </span>
      <span class="pathbar-menu closed" id="week-dropdown">
        {{ 'week: ' ~ app.user.activeEnrollment.week.name | title }}
      </span>
    {% endblock %}
    </h3>
  </div>
</div>
{% for flashMessage in app.session.flashbag.get('notice') %}
<div class="flash_notice">{{ flashMessage }}</div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('error') %}
  <div class="flash_error">{{ flashMessage }}</div>
{% endfor %}
{% endblock %}
<!-- END :: _infobox.php -->
