{% extends '::base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('/bundles/scssuser/css/Base/index.css') }}" rel="stylesheet" />
    <link href="{{ asset('/bundles/scsspassel/css/rank.css') }}" rel="stylesheet" />    
{% endblock %}

{% block main_content %}

<table class="table table-hover">
    <thead>
        <tr>
            <th>{{ 'name' | title }}</th>
            <th>{{ 'organization' | title }}</th>
            <th></th>
        </tr>        
    </thead>
    <tbody>
        {% for rank in ranks %}
        <tr>
            <td>{{ rank.name }}</td>
            <td>{{ rank.organization }}</td>
            <td></td>
        </tr>
        {% else %}
        <tr>
            <td colspan="5">No ranks found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}