{% extends "FOSUserBundle::layout.html.twig" %}

{% block stylesheets %}
  {{ parent() }}
<link rel="stylesheet" href="{{ asset('/css/form.css.php') }}" />
{% endblock %}
{% block javascripts %}
  {{ parent() }}
<script src="{{ asset('/js/jquery.infieldlabel.min.js') }}" type="text/javascript" ></script>
<script src="{{ asset('/js/form.js') }}" type="text/javascript" ></script>
{% endblock %}

{% block fos_user_content %}
<div class="signin-form-wrapper form-wrapper" id="signin-form">
<h2>{{ 'sign in' | title }}</h2>
<br />
{% if error %}
    <div class="error">{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}
<form action="{{ path("fos_user_security_check") }}" method="post">
  <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
  <p>
    <label for="username">email address</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" class="text-input" />
  </p>
  <p>
    <label for="password">password</label>
    <input type="password" id="password" name="_password" class="text-input" />
  </p>
  <p>
    <label for="type">user type</label>
    <select name="type" id="type">
      <option value="attendee">attendee</option>
      <option value="passel_leader">passel leader</option>
      <option value="faculty">faculty</option>
    </select>
  <p>
    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">remember me</label>
    <input type="submit" id="_submit" name="_submit" value="sign in &raquo;" class="greenButton" />
  </p>
</form>
</div>
<div id="signin-quicklinks-wrapper">
  <h2>{{ 'sign in with' | title }}</h2>
  <ul id="quicklinks">
    <li class="quicklink" id="facebook"><a href="{{ path('facebook_check') }}"><img src="{{ asset('/images/social/connect/facebook.png') }}" /></a>{# {{ facebook_login_button({'autologoutlink': true, 'label': 'Sign In With Facebook', return_uri: path('fos_user_security_check') }) }} #}</li>
    <li class="quicklink" id="twitter"><a href="#"><img src="{{ asset('/images/social/connect/twitter.png') }}" /></a></li>
    <li class="quicklink" id="google"><a href="#"><img src="{{ asset('/images/social/connect/google.png') }}" /></a></li>
    <li class="quicklink" id="linkedin"><a href="#"><img src="{{ asset('/images/social/connect/linkedin.png') }}" /></a></li>
  </ul>
</div>
{% endblock %}
