{% extends '::Base.htmltwig' %}

{% block stylesheets %}
  <link href="{{ asset('/css/dashboard.css.php') }}" rel="stylesheet" />
  {{ parent() }}
{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('/js/dashboard.js.php') }}" type="text/javascript" />  
{% endblock %}

{% include 'ScssUtilityBundle:Utility:infobox.html.twig' with {'page': 'dashboard'} %}
{% block main_content %}
<div class="box main-content">
  <div class="box-content datagrid">
  {% block attendee_list %}
    <h2>Attendee List</h2>
    <table class="data-table" id="patrol-table">
    {% block attendee_table %}
      <tbody>
      {% for i, attendee in s_pager %}
        <tr class="table-row {{  i is even ? 'even-row' : 'odd-row' }}">
          <td>{{ scout.lastName | capitalize }}</td>
          <td>{{ scout.firstName | capitalize }}</td>
          <td>{{ scout.dob - date() }}</td>
          <td>{{ scout.patrol.name }}</td>
          {% if scout.enrolled %}
            {% for x, period in user.activeEnrollment.week.periods %}
          <td>
              {% set enroll = scout.enrollment(period) %}  
              {% if enroll.class.course.slug = '' %}
              <a href="{{ path('scout_enroll_edit') }}"><img src="{{ asset('/images/user_files/badges/' ~ enroll.class.course.meritbadge.slug ~ '.png') }}" height="48px" width="48px" alt="{{ enroll.class.course.name }}" /></a>
              {% else %}
              none
              {% endif %}
          </td>
            {% endfor %}
          {% else %}
          <td colspan="{{ user.activeEnrollment.week.periodCount }}">
            <span class="not-enrolled">
              <a href="{{ path('attendee_enroll_specific') }}">Not Enrolled Yet!'</a>
            </span>
          </td>
          {% endif %}
          <td class="table-controls">
            <div class="table-controls">
              <a href="{{ path('attendee_edit') }}"><img src="/images/icons/edit-icon.png" width="16" height="16" alt='edit' /><span class="control-txt">edit</span></a>
              <a href="{{ path('attendee_remove') }}"><img src="/images/icons/delete-icon.png" width="16" height="16" alt='delete' /><span class="control-txt">delete</span></a>
            </div>
          </td>
        </tr>
      {% endfor $}
      </tbody>
      {% include 'ScssUtilityBundle:Utility:pager.html.twig' with { 'colspan': 7, 'prefix': 's_', 'module': 'scout', 'pager': s_pager} %}
    {% endblock %}
    </table>
  {% endblock %}
  </div>  
</div>
<div class="box main-content">
  <div class="box-content datagrid">
    <h2>
      {{ 'SubGroups' | trans }}&nbsp;<a href="{{ path('subgroup_new') }}"><img src="/images/icons/add-icon.png" height="16" width="16" alt="Add" /></a>
    </h2>
    <table class="data-table" id="patrol-table">
    {% block patrol_table %}
      <tbody>
      {% for i, subgroup in p_pager) %}
        <tr class="table-row {% i is even ? 'even-row' : 'odd-row' %}">
          <td>{{ subgroup.name }}</td>
          <td><img src="/images/user_files/logos/subgroups/{{ subgroup.img }}" height="48" alt="{{ subgroup.name }}" /></td>
          <td>{{ subgroup.attendeeCount}} {{ 'attendee' | trans }}{{ subgroup.attendeeCount != 1) ? 's' : '' }}</td>
          <td class="table-controls">
            <div class="table-controls">
              <a href="{{ path('subgroup_edit') }}"><img src="/images/icons/edit-icon.png" width="16" height="16" alt='edit' /><span class="control-txt">edit</span></a>
              <a href=" {{ path('subgroup_remove') }}"><img src="/images/icons/delete-icon.png" width="16" height="16" alt='delete' /><span class="control-txt">delete</span></a>
            </div>
          </td>
        </tr>
      {% endfor %}
      </tbody>
      {% include 'ScssUtilityBundle:Utility:pager.html.twig' with { 'colspan': 4, 'prefix': 'p_', 'module': 'patrol', 'pager': p_pager } %}
    {% endblock %}
    </table>      
  </div>
</div>
{% endblock %}