{% extends '::base.html.twig' %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('/js/scss.js.php') }}" type="text/javascript" ></script>  
{% endblock %}

{% block main_content %}
<div id="focus-wrapper">
  <div id="focus-box">
  {% block focus_box %}
    <img src="/images/focus/default.png" />
  {%endblock %}
  </div>  
  <div id="blurp-box">
  {% block blurp_box %}
    <h2>{{ 'Online scheduling made easy'  | title }}</h2>
    <p>
    {% block blurp_details %}
      blah blah blah blah blah blah blah blah blah blah blah blah blah 
      blah blah blah blah blah blah blah blah blah blah blah blah blah 
      blah blah blah blah blah blah blah blah blah blah blah blah blah 
    {% endblock %}
    </p>
    {% block blurp_button %}
      <button class="greenButton">Create An Account &raquo;</button>
    {% endblock %}
  </div>
</div>
<div id="details">
{% block details %}
  <table cellpadding="0" cellspacing="0" border="0" id="detail-items">
  {% block detail_items %}
    <tr>
        <td class="detail-item" id="online-advancement">
        {% block detail_item_online_advancement %}
          <img src="/images/icons/online-advancement.png" />        
          <h2>{{ 'advancement training' }}</h2>
          <p>
          {% block detail_item_online_advancement_text %}
            blah blah blah blah blah blah blah blah blah blah blah blah 
            blah blah blah blah blah blah blah blah blah blah blah blah 
            blah blah blah blah blah blah blah blah blah blah blah blah 
            blah blah blah blah blah blah blah blah blah blah blah blah 
            blah blah blah blah blah blah blah blah blah blah blah blah 
            blah blah blah blah blah.
          {% endblock %}
          </p>
        {% endblock %}            
        </td>
        <td class="detail-item" id="print-reports">
        {% block detail_item_print_reports %}
          <img src="/images/icons/print_reports.png" />
          <h2>{{ 'print & manage reports' }}</h2>
          <p>
          {% block detail_item_print_reports_text %}
            blah blah blah blah blah blah blah blah blah blah blah blah 
            blah blah blah blah blah blah blah blah blah blah blah blah 
            blah blah blah blah blah blah blah blah blah blah blah blah 
            blah blah blah blah blah blah blah blah blah blah blah blah 
            blah blah blah blah blah blah blah blah blah blah blah blah 
            blah blah blah blah blah.
          {% endblock %}
          </p>
        {% endblock %}            
        </td>
        <td class="detail-item" id="mobile"> <!-- rowspan="2"> -->
        {% block detail_item_mobile %}
          {% block detail_item_mobile_image %}
          <img src="/images/iphone.png" width="150px" />
          {% endblock %}          
          <h2>{{ 'mobile platform' }}</h2>
          <p>
          {% block detail_item_mobile_text %}
            blah blah blah blah blah blah blah blah blah blah blah blah 
            blah blah blah blah blah blah blah blah blah blah blah blah 
            blah blah blah blah blah blah blah blah blah blah blah blah 
            blah blah blah blah blah.
          {% endblock %}
          </p>
          <span>
          {% block detail_item_mobile_text_focus %}
            <h3>{{ 'Get it from your app store' }}</h3>
            <p>
            {% block detail_item_mobile_text_foucus_text %}
                blah blah blah blah blah blah 
                blah blah blah blah blah blah 
                blah blah blah blah blah blah 
                blah blah blah blah.
                <button class="download-btn greenButton">{{ 'download it' }}</button>
            {% endblock %}
            </p>
          {% endblock %}
          </span>
        {% endblock %}          
        </td>
      </tr>
    <!--
      <tr>
        <td class="detail-item" id="instant-payments">
        {% block detail_item_instant_payments %}
          <img src="/images/icons/instant-payment.png" />        
          <h2>{{ 'instant payments' }}</h2>
          <p>
          {% block detail_item_instant_payment_text %}
            blah blah blah blah blah blah blah blah blah blah blah blah 
            blah blah blah blah blah blah blah blah blah blah blah blah 
            blah blah blah blah blah blah blah blah blah blah blah blah 
            blah blah blah blah blah blah blah blah blah blah blah blah 
            blah blah blah blah blah blah blah blah blah blah blah blah 
            blah blah blah blah blah.
          {% endblock %}
          </p>
        {% endblock %}          
        </td>
        <td class="detail-item" id="blah-blah">
        {% block detail_item_blah %}
          <img src="/images/icons/blah-blah-blah.png" />
          <h2>{{ 'blah blah blah blah' }}</h2>
          <p>
          {% block detail_item_blah_text %}
            blah blah blah blah blah blah blah blah blah blah blah blah 
            blah blah blah blah blah blah blah blah blah blah blah blah 
            blah blah blah blah blah blah blah blah blah blah blah blah 
            blah blah blah blah blah blah blah blah blah blah blah blah 
            blah blah blah blah blah blah blah blah blah blah blah blah 
            blah blah blah blah blah.
          {% endblock %}
          </p>
        {% endblock %}        
        </td>
      </tr>    
    -->
  {% endblock %}
  </table>      
{% endblock %}
</div>
{% endblock %}
{% endblock %}