{% extends '::base.html.twig' %}

{% block stylesheets %}
  <link href="{{ asset('/bundles/SCSSuser/css/index_details.css') }}" rel="stylesheet" />
  {{ parent() }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('/js/SCSS.js.php') }}" type="text/javascript" ></script>
{% endblock %}

{% block main_content %}
<div id="focus-wrapper">
  <div id="focus-box">
  {% block focus_box %}
    <img src="/images/focus/default.png" />
  {%endblock %}
  </div>
  <div id="blurp-box">
  {% block blurp_box %}
    <h2>{{ 'Online scheduling made easy'  | title }}</h2>
    <p>
    {% block blurp_details %}
      Use this system to allow access to your groups course information centrally and easily.
    {% endblock %}
    </p>
    {% block blurp_button %}
      <button class="clearButton">Create An Account &raquo;</button>
    {% endblock %}
  </div>
</div>
<div id="details">
{% block details %}
  {% include 'SCSSUserBundle:Base:index_details.html.twig' %}
{% endblock %}
</div>
{% endblock %}
{% endblock %}
