{% extends '::base.html.twig' %}
{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('/css/organization.css.php') }}" />
  <link rel="stylesheet" href="{{ asset('/css/datatable.css.php') }}" />
{% endblock %}
{% block main_content %}
<div class="box main-content">
  <div class="box-content datagrid">
  {% block passel_datagrid %}
    <h2>{{ passel.name | title }}</h2>
    <table class="data-table" id="passel-table">
    {% block passel_table %}
      <tbody>
        <tr>
          <td>
            {{ passel.passelType.name | title }}
          </td>
        </tr>   
        <tr>
          <td>
            {{ passel.region.name | title }}
          </td>
        </tr>       
        <tr>
          <td>
            {{ passel.leader.name | title }}
          </td>
        </tr>        
        <tr>
          <td>
            {{ passel.leaderCount ~ ' leaders' | title }}
          </td>
        </tr>        
        <tr>
          <td>
            {{ passel.SubGroupCount ~ ' sub passels' | title }}
          </td>
        </tr>        
        <tr>
          <td>
            {{ passel.memberCount ~ ' members' | title }}
          </td>
        </tr>
        <tr>
          <td>
          {% if passel.photo %}
            <a href="{{ path('passel_photo_show', { 'photo': passel.photo }) }}"><img class="thumbnail passel-photo" src="{{ asset(passel.photo) }}" /></a>
          {% else %}
            <p>{{ 'no photo found.' }}</p>
          {% endif %}
          </td>
        </tr>
        <tr>
          <td>
          {% if passel.logo %}
            <img class="thumbnail passel-logo" src="{{ asset(passel.logo) }}" /></a>
          {% else %}
            <p>&nbsp;</p>
          {% endif %}
          </td>
        </tr>
      </tbody>
    {% endblock %}
    </table>
  {% endblock %}
  </div>
</div>
{% endblock %}