{% extends '::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('/bundles/scssuser/css/Base/index.css') }}" rel="stylesheet" />
    <link href="{{ asset('/bundles/scsspassel/css/faction.css') }}" rel="stylesheet" />
    <link href="{{ asset('/bundles/scssuser/css/Base/datatable.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="fluid-row">
    <div class="span12">
        <h1>
            {{ 'factions' | title }}
            {% if is_granted("ROLE_ADMIN") %}
            <a href="{{ path( 'scss_faction_new' ) }}" alt="{{ 'add a faction' }}">
                <i class="icon-plus on icon-check-empty pull-right"></i>
           </a>
           {% endif %}
        </h1>

        {% block datatable %}
        <table class="table table-striped">
            <tr>
                <th>
                    <a href="#" class="sort-toggle">{{ 'name' | title }}</a>
                </th>
                <th>{{ 'description' | title }}</th>
                <th>{{ 'status' | title }}</th>
                <th>{{ 'category' | title }}</th>
                <td></td>
            </tr>
            {% for faction in factions %}
            <tr>
                <td><a href="{{ path( 'scss_faction_show', { 'slug': faction.slug } ) }}">{{ faction.name }}</a></td>
                <td>{{ faction.shortDescription }}</td>
                <td><a href="{{ path( 'scss_status_show', { 'slug': faction.Status.slug } ) }}">{{ faction.Status.name }}</a></td>
                <td><a href="{{ path( 'scss_category_show', { 'slug': faction.Category.slug } ) }}">{{ faction.Category.name }}</a></td>
                {% include 'SCSSUserBundle:Datatable:datatable.controls.html.twig' with { 'slug': faction.slug, 'type': 'faction' } %}
            </tr>
            {% else %}
            <tr>
                <td colspan="5">
                    <em>{{ 'no factions found.' | title }}</em>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% include 'SCSSUserBundle:Datatable:datatable.footer.html.twig' with { 'pager': pager } %}
        {% endblock %}
    </div>
</div>
{% endblock %}
