{% extends '::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('/bundles/scssuser/css/Base/index.css') }}" rel="stylesheet" />
    <link href="{{ asset('/bundles/scsspassel/css/faction.css') }}" rel="stylesheet" />
    <link href="{{ asset('/bundles/scssuser/css/Base/datatable.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="fluid-row">
    <div class="span12">
        <h1>
            {{ 'factions' | title }}
            {% if is_granted("ROLE_ADMIN") %}
            <a href="{{ path( 'scss_faction_new' ) }}" alt="{{ 'add a faction' }}">
                <i class="icon-plus on icon-check-empty pull-right"></i>
           </a>
           {% endif %}
        </h1>

        {% block datatable %}
        <table class="table table-striped">
            <thead>
                <tr>
                    {# name #}
                    <th>
                        <a href="#" class="sort-toggle">{{ 'name' | title }}</a>
                    </th>
                    {# attendees #}
                    <th>
                        <a href="#" class="sort-toggle">{{ 'attendees' }} | title }}</a>
                    </th>
                    {# passel #}
                    <th>
                        <a href="#" class="sort-toggle">{{ 'passel' }} | title }}</a>
                    </th>
                    {# region #}
                    <th>
                        <a href="#" class="sort-toggle">{{ 'region' }} | title }}</a>
                    </th>
                    {# council #}
                    <th>
                        <a href="#" class="sort-toggle">{{ 'council' }} | title }}</a>
                    </th>
                    {# organization #}
                    <th>
                        <a href="#" class="sort-toggle">{{ 'organization' }} | title }}</a>
                    </th>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                {% for faction in factions %}
                <tr>
                    <td>
                        <a href="{{ path( 'scss_faction_show', { 'slug': faction.slug } ) }}">
                            {{ faction.name }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ path( 'scss_attendee_index_by_faction', { 'slug': faction.slug } ) }}">
                            {{ faction.attendees | length }} {{ 'attendees' }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ path( 'scss_passerl_show', { 'slug': faction.Passel.slug } ) }}">
                            {{ faction.factions | length }} {{ 'factions' }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ path( 'scss_region_show', { 'slug': faction.Region.slug } ) }}">
                            {{ faction.Region.name }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ path( 'scss_council_show', { 'slug': faction.Council.slug } ) }}">
                            {{ faction.Council.name }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ path( 'scss_organization_show', { 'slug': faction.Organization.slug } ) }}">
                            {{ faction.Organization.name }}
                        </a>
                    </td>
                    {% include 'SCSSUserBundle:Datatable:datatable.controls.html.twig' with { 'slug': faction.slug, 'type': 'faction' } %}
                </tr>
                {% else %}
                <tr>
                    <td colspan="5">
                        <em>{{ 'no factions found.' | title }}</em>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include 'SCSSUserBundle:Datatable:datatable.footer.html.twig' with { 'pager': pager } %}
        {% endblock %}
    </div>
</div>
{% endblock %}
