{% extends '::base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('/bundles/scssuser/css/Base/show.css') }}" rel="stylesheet" />
    <link href="{{ asset('/bundles/scsspassel/css/faction.css') }}" rel="stylesheet" />    
{% endblock %}

{% block main_content %}

<table class="table">
    <tbody>
        <tr>
            <th>{{ 'name' | title }}</th>
            <td>{{ faction.last_name }}</td>
        </tr>
        <tr>
            <th>{{ 'passel' | title }}</th>
            <td>{{ faction.passel }}</td>
        </tr>
        <tr>
            <th>{{ 'region' | title }}</th>
            <td>{{ faction.region }}</td>
        </tr>
        <tr>
            <th>{{ 'council' | title }}</th>
            <td>{{ faction.council }}</td>
        </tr>
        <tr>
            <th>{{ 'organization' | title }}</th>
            <td>{{ faction.passel.council.organization }}</td>
        </tr>        
    </tbody>    
</table>
{% endblock %}