{% extends '::base.html.twig' %}
{% block stylesheets %}
  {{ parent() }}
  <link href="{{ asset('/css/attendee.css.php') }}" rel="stylesheet" />
{% endblock %}
{% block main_content %}  
<div class="box main-content">
  <div class="box-content datagrid">
  {% block attendee_datagrid %}    
    <h2>{{ 'attendees' | title }} &nbsp;<a href="{{ path('attendee_new', { 'region_slug': app.user.activeEnrollment.group.region.slug, 'group_slug': app.user.activeEnrollment.group.slug }) }}"><img src="{{ asset('/images/icons/add-icon.png') }}" height="16" width="16" alt="{{ 'add an attendee' | title }}" /></a></h2>
    <table class="data-table" id="attendee-table">
    {% block attendee_table %}
      <tbody>
      {% for i, attendee in attendees %}
        <tr class="table-row {{ cycle(['odd-row', 'even-row'], i) }}">
          <td>{{ attendee.lastName | title }}</td>
          <td>{{ attendee.firstName | title }}</td>
          <td>{{ attendee.subGroup.name | title }}</td>
          <td class="table-controls">
            <div class="table-controls">
              <a href="{{ path('attendee_edit', { 'region_slug': attendee.scss_group.region.slug, 'group_slug': attendee.scss_group.slug, 'attendee_slug': attendee.slug }) }}"><img src="/images/icons/edit-icon.png" width="16" height="16" alt='edit' /><span class="control-txt">edit</span></a>
              <a href="{{ path('attendee_remove', { 'region_slug': attendee.scss_group.region.slug, 'group_slug': attendee.scss_group.slug, 'attendee_slug': attendee.slug }) }}"><img src="/images/icons/delete-icon.png" width="16" height="16" alt='delete' /><span class="control-txt">delete</span></a>
            </div>
          </td>
        </tr>
      {% endfor %}
      </tbody>
      {% block pager %}
      <tfoot>
        <tr>
          <td colspan="4">
            {{ pagerfanta(pagerfanta_inst) }}
          </td>
        </tr>              
      </tfoot>
      {% endblock %}         
    {% endblock %}
    </table>
  {% endblock %}
  </div>
</div>
{% endblock %}