{% extends '::base.html.twig' %}
{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('/css/organization.css.php') }}" />
  <link rel="stylesheet" href="{{ asset('/css/datatable.css.php') }}" />
{% endblock %}
{% block main_content %}
<div class="box main-content">
  <div class="box-content datagrid">
  {% block attendee_datagrid %}
    <h2>{{ attendee.name | title }}</h2>
    <table class="data-table" id="scss-group-table">
    {% block attendee_table %}
      <tbody>
        <tr>
          <td>
            {{ attendee.subGroup.name | title }}
          </td>
        </tr>   
        <tr>
          <td>
            {{ attendee.rank.name | title }}
          </td>
        </tr>       
        <tr>
          <td>
            {{ attendee.birthdate | title }}
          </td>
        </tr>        
      </tbody>
    {% endblock %}
    </table>
  {% endblock %}
  </div>
</div>
{% endblock %}