{% extends '::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('/bundles/scssutility/css/Base/show.css') }}" rel="stylesheet" />
    <link href="{{ asset('/bundles/scssattribute/css/value.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="fluid-row">
    <div class="span12">
        <h1>
            <a href="{{ path('scss_value_index') }}">{{ 'values' | title }}</a>
            <i class="icon-arrow-right"></i>
            <a href="#">{{ value.name | title }}</a>
        </h1>
    </div>
    <div class="span6 pull-right" id="value-description">
        {{ value.description }}
    </div>
    <div class="span6 pull-left" id="value-details">
        <ul>
            <li></li>
        </ul>
    </div>
</div>
{% endblock %}
