{% extends '::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('/bundles/scssuser/css/Base/index.css') }}" rel="stylesheet" />
    <link href="{{ asset('/bundles/scsspassel/css/type.css') }}" rel="stylesheet" />
    <link href="{{ asset('/bundles/scssuser/css/Base/datatable.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="fluid-row">
    <div class="span12">
        <h1>
            {{ 'types' | title }}
            {% if is_granted("ROLE_ADMIN") %}
            <a href="{{ path( 'scss_passel_type_new' ) }}" alt="{{ 'add a passel type' }}">
                <i class="icon-plus on icon-check-empty pull-right"></i>
           </a>
           {% endif %}
        </h1>

        {% block datatable %}
        <table class="table table-striped">
            <thead>
                <tr>
                    {# name #}
                    <th>
                        <a href="#" class="sort-toggle">{{ 'name' | title }}</a>
                    </th>
                    {# passels #}
                    <th>
                        <a href="#" class="sort-toggle">{{ 'passels' | title }}</a>
                    </th>
                    {# organization #}
                    <th>
                        <a href="#" class="sort-toggle">{{ 'organization' | title }}</a>
                    </th>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                {% for type in types %}
                <tr>
                    <td>
                        <a href="{{ path( 'scss_passel_type_show', { 'slug': type.slug } ) }}">
                            {{ type.name }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ path( 'scss_passel_index_by_passel_type', { 'slug': type.slug } ) }}">
                            {{ type.passels | length }} {{ 'passels' }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ path( 'scss_organization_show', { 'slug': type.Organization.slug } ) }}">
                            {{ type.Organization.name }}
                        </a>
                    </td>
                    {% include 'SCSSUserBundle:Datatable:datatable.controls.html.twig' with { 'slug': type.slug, 'type': 'type' } %}
                </tr>
                {% else %}
                <tr>
                    <td colspan="5">
                        <em>{{ 'no passel types found.' | title }}</em>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include 'SCSSUserBundle:Datatable:datatable.footer.html.twig' with { 'pager': pager } %}
        {% endblock %}
    </div>
</div>
{% endblock %}
