{% extends '::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('/bundles/scssutility/css/Base/show.css') }}" rel="stylesheet" />
    <link href="{{ asset('/bundles/scssattribute/css/group.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="fluid-row">
    <div class="span12">
        <h1>
            <a href="{{ path('scss_group_index') }}">{{ 'groups' | title }}</a>
            <i class="icon-arrow-right"></i>
            <a href="#">{{ group.name | title }}</a>
        </h1>
    </div>
    <div class="span6 pull-right" id="group-description">
        {{ group.description }}
    </div>
    <div class="span6 pull-left" id="group-details">
        <ul>
            <li></li>
        </ul>
    </div>
</div>
{% endblock %}
